.main{
    background-color: rgb(58, 97, 97);
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 8%;
    padding: 5px;
    box-shadow: 2px 2px 9px 7px #aaaaaa;
}
.buttons{
    position: relative;
    left: 50%;
}
.new1{
    color: rgb(255, 217, 0);
}
#pr,#st{
    margin-left: -22%;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
#pr:hover{
    background-color: rgb(46, 46, 46);
    color: white;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}
#st:hover{
    background-color: rgb(46, 46, 46);
    color: white;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
}
