.container{
    background-color: rgb(25, 170, 109);
    width: 70%;
    margin-left: 15%;
    padding: 10px;
}
#name,#age,#email,#pass,#add,#exp,#dob{
    height: 25px;
    font-size: 15px;
    width: 50%;
    /* border-radius: 7px; */
}


#sign{
    height: 33px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5%;
}
#sign:hover{
    background-color: lawngreen;
    color: rgb(248, 57, 9);
    border: 1px solid greenyellow;
}